/*
* MF Validation
*/

$rd-validation-color: #f00;

.rd-mailform-2 .mfValidation {
  position: absolute;
  color: $rd-validation-color;
  font-weight: $input-font-weight;
  font-size: 10px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
  top: 0;
  right: 8px;
  cursor: pointer;
  &:hover{
    color: $primary;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }

  &.hide, &.valid {
    opacity: 0;
    visibility: hidden;
  }
}